*{
    margin: 0;
    font-family: 'Muli', sans-serif;
}

html, body{
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 20px;
}

h1{
    margin-top: 50px;
}

nav{
    position: fixed;
    margin-top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,.8);
    z-index: 99;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 40px;
}

nav ul li{
    display: inline-block;

}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin-left: 30px;
    line-height: 100px;
}

nav a:hover{
    color:#ff8c00;
    text-decoration: none;
}

nav img{
    height: 60px;
    margin-top: 15px;
    float: left;
    margin-left: 60px;
}


.sect{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.subSection{
    height: auto;
    min-height: 400px;
    background-color: #fff;
    text-align: center;
    padding-bottom: 80px;
}

.subSection img{
    width: 250px;
    margin-top: 90px;
}

.subSection #profile{
    border-radius: 100%;
}

.subSection p,h1{
    color: #000;
}

.subSection h1{
margin-top: 60px;
}

.subSection p{
    padding: 0px 100px;
}

.sectOne{
    background-image: url("../images/bg3.jpg");
}

.sectOne h1{
    color: #fff;
    font-size: 40px;
    padding-top: 40px;
}

.sectOne p{
    font-size: 20px;
    color: #ff8c00;
}

.sectOne .transparent{
    text-align: center;
}

.distance{
    padding-top: 260px;
}

.social-icons ul{
    margin: 0; 
    list-style: none;
    list-style-type: none;
    padding: 0; 
}

.social-icons ul li img{
    margin: 30px 10px;
    height: 40px;
}

.social-icons ul li{
    display: inline-block;
}

.sectTwo{
    background-image: url("../images/bg2.jpg");
}

.sectThree{
    background-image: url("../images/bg1.png");
}

.sectFour{
    background-image: url(../images/bg4.jpg);
}

.logo {
  margin-top: -27px;
}


.transparent{
    background-color: rgba(000,0,0,0.4);
    height: 380px;
}


input{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid #fff;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #fff;
    height: 50px;
    width: 230px;
    font-size: 20px;
    margin-bottom: 40px;
}


.dot{
    color: #fff;
    font-size: 20px;
}

.sections p{
    padding: 0;
    margin: 0 ;
}

#aboutSection h4{
    margin: 40px 0;
}

#aboutSection h5{
    font-size: 30px;
}

.cubes{
    padding: 40px 40px;
    min-height: 250px;
}

.t1{
   border-bottom: 1px solid #e2e2e2;
   border-right: 1px solid #e2e2e2;
}

.t2{
    border-bottom: 1px solid #e2e2e2;
}

.t3{
    border-right: 1px solid #e2e2e2;
}

.t4{
    border-right: 1px solid #e2e2e2;
}
.t5{
    border-right: 1px solid #e2e2e2;
}

.textfield{
    background-color: black;
    color: white;
    padding: 10px 10px;
}

.button{
    color: #000;
    background-color: #fff;
    border: 1px solid black;
    width: 460px;
    margin-top: 15px;
}

.button:hover{
    background-color: #000;
    color: #fff;
}

textarea{
    width: 460px;
    height: 200px;
    background-color: black;
    resize: none;
    color: #fff;
    margin-top: -20px;
    padding: 20px 20px;
}

#contactSection h5{
    margin-top: 40px;
}

h1,h2,h3,h4,h5,h6{
    font-size: 40px;
}